.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    border-radius: 0;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background: cover;
}

canvas {
    height: 100%;
    width: 70%;
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow:1px 1px 38px grey}
    to {box-shadow:1px 1px 38px white}
}